# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android
android/local.properties
android/.gradle/
android/key.properties
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.iml
.DS_Store
